:root {
  --brightness: 100%;
  --opacity: .7;
}

body {
  margin: 0;
}

.main {
  position: absolute;
  z-index: -1;
  width: 100vw;
  background: url(media/ales-krivec-20582-unsplash.jpg);
  background-size: contain;
  background-repeat: repeat-y;
  filter: brightness(var(--brightness));
}

.container {
  display: flex;
  justify-content: center;
}

.brightnessContainer {
  justify-content: flex-end;
}

.toDoListContainer {
  flex-direction: column;
  align-items: center;
}

.doodleContainer {
  flex-direction: column;
  align-items: center;
  padding-top: 2000px;
}

canvas {
  border: 5px solid black;
  background: white;
  opacity: var(--opacity);
}

.sidebar {
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100vh;
  background: PapayaWhip;
  opacity: var(--opacity);
  border: 5px solid white;
  border-radius: 10px;
  transform: translateX(-90%);
  transition: all .3s;
  transition-timing-function: cubic-bezier(.6, -.2, .6, -.2);
}

.sidebar.active {
  transform: translateX(0);
}