:root {
  --brightness: 100%;
  --opacity: .7;
}

body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.main {
  position: absolute;
  z-index: -1;
  width: 100vw;
  min-height: 100vh;
  background: url(media/ales-krivec-20582-unsplash-lowres.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  filter: brightness(var(--brightness));
}

.container {
  display: flex;
  justify-content: center;
}

.brightnessContainer {
  flex-direction: column;
  align-items: flex-end;
  padding-right: 20px;
  font-size: 12px;
}

.toDoListContainer {
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  font-family: Verdana;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.toDoList {
  list-style-type: none;
  padding-left: 0;
}

.listText {
  display: inline-block;
}

input:checked + .listText {
  text-decoration: line-through;
}

.doodleContainer {
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

canvas {
  border: 5px solid black;
  background: white;
  opacity: var(--opacity);
}

.keyboardContainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enableContainer {
  padding-bottom: 5px;
  color: white;
}

.keys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 50vw;
}

kbd {
  height: 40px;
  line-height: 40px;
  width: 60px;
  border: 2px solid white;
  border-radius: 5px;
  background: black;
  color: white;
  font-size: 20px;
  text-align: center;
  transition: all 0.07s ease;
}

kbd.playing {
  transform: scale(1.05);
  box-shadow: 0 0 1rem red;
}


.sidebar {
  position: fixed;
  z-index: 2;
  width: 200px;
  height: 100vh;
  padding: 50px 5px;
  background: PapayaWhip;
  opacity: var(--opacity);
  border: 5px solid white;
  border-radius: 10px;
  transform: translateX(-90%);
  transition: all .3s;
  transition-timing-function: cubic-bezier(.6, -.2, .6, -.2);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
}

.sidebar.active {
  transform: translateX(0);
}

.date {
  padding: 20px 0;
  font-size: 24px;
}

.clock {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 5px solid black;
  position: relative;
  margin: 20px 0;
}

.hand {
  width: 40%;
  height: 2px;
  background: black;
  position: absolute;
  top: 50%;
  transform: rotate(90deg);
  transform-origin: 100%;
}

.tune {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressContainer {
  width: 100px;;
  height: 5px;
  background: black;
  border: 1px solid black;
  display: flex;
}

.playButton {
  padding-right: 5px;
}

.progress {
  background: yellow;
  flex-basis: 0;
}

.credit {
  font-size: 10px;
}

.weather {
  max-height: 50%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
}

.currentWeather {
  align-items: center;
  text-align: center;
  padding: 20px 0;
  min-height: 100px;
}

.weatherPromptText {
  font-size: 12px;
  text-align: center;
}

.weatherSearchBar {
  border: 1px solid black;
}


.stationsList {
  overflow: auto;
  font-size: 14px;
}
